{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'hero/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">

    <title>Hero</title>
</head>
<body>

    <form method="GET">
        <header>
            <div class="menu">
                <nav>
                    <ul class="menu_airshed">
                        <li><a href="/">My Airshed</a></li>
                        <li><a href="/">My planes</a></li>
                        <li><a href="/create">Create planes</a></li>
                    </ul>
                </nav>
                <div class="menu_buttons">
                    <div class="searchFilter">
                        {{ filter.form }}
                    </div>
                    <button class="button_search" type="submit">Search</button>
                    <button name='clear' value='1' class="button_clear">Clear</button>
                </div>
                
            </div>
        </header>
    </form>
    

    <form method="POST">
        {% csrf_token %}
    <section class="content">
        
        <div class="manage">
            <div class="top">
                
                <div style="font-weight: 400; color: #333333; margin-top: 0.2vw; font-size: 2vw;">Manage plans</div> 
                        
                <div class="sort">
                   <a href='/sort'><button name='sort' value="1" class="sort_button">Sort</button></a>
                </div>  

            </div>
            
            <div class="low">
                <div style="font-size: 1.2vw; color: #616161;">Sort by the most expensive plans</div>
                    <fieldset id="personalInfo" style="margin: 0; padding: 0; border: none;">
                        <button name='count' value="1" type="submit">Count</button>
                    </fieldset>
                <div class="price">
                    
                        <div style="color: #616161; font-size: 1.2vw;">Total expenses:</div>
                        <div style="color: #333333; font-size: 1.2vw; font-weight: 700;">Price: {{ count }}</div>
                </div>
            </div>
        </div>
        
        <div class="content_data" id="content_data" style="width: 61.5vw; text-align: center; padding-top: 1vw; justify-content: space-between; margin-left: auto; margin-right: auto;">
            {% for el in create %}
                <div class="data">
                    <a href="/{{ el.id }}"><h3>{{el.text}}</h3></a>
                    <p>Price = {{el.price}} $/day</p>
                    <p>{{el.description}}</p>
                    
                    <div style="padding-bottom: 1vw;">

                        <fieldset id="addressInfo" style="margin: 0; padding: 0; border: none;">
                                <label>Add to Count<input type="checkbox" name="{{el.id}}" value="1"></label>
                            
                        </fieldset>
                    </div>
                    <div class="menu_buttons" style="width: 14vw; margin-right: auto;">
                        <a href="/{{ el.id }}/update"><button name='update' value='/{{ el.id }}/update' class="button_search">Update</button></a>
                        <a href="/{{ el.id }}/delete"><button name='delete' value='/{{ el.id }}/delete' class="button_clear">Delete</button></a>
                    </div>
                    
                </div>
            {% endfor %}
        </div>
    </section>
    </form>
        
    </body>
</html>