@import "manage.css";
@import "switch.css";
@import "header.css";
@import "data.css";

body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1vw;
}


a:any-link{
    color: #000 !important;
    text-decoration: none;
}



li {
    list-style-type: none; 
}

li:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

ul{
    padding-left: 3vw;
}
