@import "create_plane.css";

body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1vw;
}

.a{
    color: #000 !important;
    text-decoration: none;
}


li {
    list-style-type: none; 
}

li:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}



